.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #0707c6;
  border-color: #0707c6 transparent #0707c6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(236, 233, 233, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-delete-btn{
  background-color: rgb(195, 15, 15) !important;
  border : 0px !important ;
}
.modal-delete-btn:hover{
  background-color: rgb(218, 17, 17) !important;
}
.modal-footer{
  border: 0px !important;
}


@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
